@import 'quasar.variables.scss';
@import 'leaflet/dist/leaflet.css';
@import 'leaflet-draw/dist/leaflet.draw.css';

// Глобальные стили
.map-container {
  height: $map-height;
  width: 100%;
}

.leaflet-tooltip {
  background: $tooltip-bg;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}